#login-form, #guest-form {
    display: none;
    margin-top: 20px;
}

#login-choice {
    input[type="radio"], label{
        margin-right: 10px;
    }

    #login-form {
        .forgotten-password {
            text-transform: uppercase;
            color: @gray;
            font-size: 10px;
            margin-top: 12px;;
        }
    }

}



.opc-wrapper {
    .form-login {
        padding-bottom: 0px;
        border: 0;

        input[type="text"] {
            margin-bottom: 10px;
        }

        .fieldset {
            .note {
                color: @gray;
            }
        }
    }

    .step-title {
        color: @blue;
        font-weight: 600;
    }

}
