#login-form, #guest-form {
    display: none;
    margin-top: 20px;
}

#login-choice {
    input[type="radio"], label{
        margin-right: 10px;
    }

    #login-form {
        .forgotten-password {
            text-transform: uppercase;
            color: @gray;
            font-size: 10px;
            margin-top: 12px;;
        }
    }

}

.step-title {
    color: @blue;
}