<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <appscore_securepay>
              <active>1</active>
              <title>Secure Pay</title>
              <model>Appscore\SecurePay\Model\SecurePay</model>
              <payment_action>capture</payment_action>
              <cctypes>AE,VI,MC</cctypes>
              <order_status>pending</order_status>
              <fraud_detection>0</fraud_detection>
            </appscore_securepay>
        </payment>
    </default>
</config>