<?xml version="1.0"?>
<!--
/**
 * @author Kurnia Wijanto
 * @copyright Copyright (c) 2020 Visy IDT
 * @package Visy_Shell
 *
 * path: app/code/Visy/Shell/etc/di.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="visy_shell_integration_sales_order" xsi:type="object">Visy\Shell\Command\IntegrationSalesOrderCommand</item>
                <item name="visy_shell_integration_pricing_indexer" xsi:type="object">Visy\Shell\Command\CustomPriceIndexer</item>
            </argument>
        </arguments>
    </type>
</config>
