<?xml version="1.0"?>
<!--
/**
 * @author Kurnia Wijanto
 * @copyright Copyright (c) 2020 Visy IDT
 * @package Visy_Shell
 *
 * path: app/code/Visy/Shell/etc/module.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Visy_Shell" setup_version="1.0.0">
        <sequence>
        </sequence>
    </module>
</config>
