<li id="shipping_method"
class="checkout-shipping-method"
data-bind="fadeVisible: isVisible, attr: { id: shipping_method }"
role="presentation">
<div class="checkout-shipping-method">
    <div class="step-title" data-bind="i18n: 'DELIVERY'" data-role="title"></div>
    <!-- ko foreach: getRegion('before-shipping-method-form') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <div id="checkout-step-shipping_method"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <div class="wrapper">
            <button type="button" class="action primary green-button-full selected delivery">DELIVERY</button>
            <button type="button" class="action primary green-button-empty clickandcollect">CLICK 'n' COLLECT</button>
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: navigateToNextStep" novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <strong>
                        <text args="getShippingAddress().prefix"/> <text args="getShippingAddress().firstname"/> <text args="getShippingAddress().middlename"/>
                        <text args="getShippingAddress().lastname"/> <text args="getShippingAddress().suffix"/><br/>
                    </strong>
                    <!-- ko ifnot: getShippingAddress().company !== "" -->
                        <text args="getShippingAddress().company"/><br/>
                    <!-- /ko -->
                    <text args="_.values(getShippingAddress().street).join(', ')"/><br/>
                    <text args="getShippingAddress().city "/><br/>
                    <span text="getShippingAddress().region"></span> <text args="getShippingAddress().postcode"/><br/>
                    <text args="getCountryName()"/><br/>
                    <text if="getShippingAddress().telephone" args="getShippingAddress().telephone"/><br/>
                
                    <each args="data: getShippingAddress().customAttributes, as: 'element'">
                        <text args="$parent.getCustomAttributeLabel(element)"/>
                        <br/>
                    </each>
                </div>
            </form>

            <div class="clickandcollect-container">
                <input type="text" id="search-branch" placeholder="Enter suburb, city or postcode">
                <span class="search-icon"></span>
                <button id="search-branch-button"  type="button" class="button action primary green-button-full">
                    FIND
                </button>
                <div class="search-result-container">
                    
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
        </div>
    </div>
    <div class="actions-toolbar" id="shipping-method-buttons-container">
        <div class="primary">
            <button data-role="opc-continue" type="button" class="button action continue primary green-button-empty">
                <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
            </button>
        </div>
    </div>
</div>
</li>