<?xml version="1.0"?>
<!--
/**
 * VISY IDT Ltd.
 *
 * @category    Visy
 * @package     ProductPricing
 * @author      VISY IDT Team <contact@visy.com>
 * @copyright   Copyright (c) 2020 Visy IDT Ltd. (http://visy.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Visy\ProductPricing\Catalog\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="custom_price" xsi:type="string">Visy\ProductPricing\Catalog\Pricing\Price\CustomPrice</item>
            </argument>
            <argument name="target" xsi:type="object">Magento\Catalog\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <!--<type name="Magento\Catalog\Model\Product">
        <plugin name="change_product" type="Visy\ProductPricing\Plugin\Product"/>
    </type>-->
    <preference for="Magento\Catalog\Model\Product\Type\Price" type="Visy\ProductPricing\Model\Product\Type\Price" />
    <preference for="Magento\Catalog\Pricing\Price\TierPrice" type="Visy\ProductPricing\Pricing\Price\TierPrice" />
    <!-- Magento Bug MAG-141191-23618 (Temporary added - Remove this preference once Magento fixed the specified issue)-->
    <preference for="Magento\Quote\Model\QuoteAddressValidator" type="Visy\ProductPricing\Model\QuoteAddressValidator" />
    <preference for="Magento\Framework\App\PageCache\Identifier" type="Visy\ProductPricing\PageCache\Identifier" />
</config>
