.admin__menu .item-latestnews.parent.level-0 > a:before {
    content: url('../images/news.svg');
    height: 28px;
    margin: 0 auto 5px auto;
    width: 30px;
}

.admin__menu .item-latestnews.parent.level-0.active > a:before, .admin__menu .item-latestnews.parent.level-0:hover > a:before {
    content: url('../images/news2.svg');
    height: 28px;
    margin: 0 auto 5px auto;
    width: 30px;
}