<div class="payment-method _active">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod">
            <div id="securepay-ui-container" ></div>
            <input name="token" type="hidden"/>
        </div>

        <!-- Render the native credit card form. -->
        <form class="form" style="display:none" data-bind="attr: {'id': getCode() + '-form'}">
            <!-- ko template: 'Magento_Payment/payment/cc-form' --><!-- /ko -->
        </form>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar" data-bind="visible: (getCode() == isChecked())">
            <div class="primary">
                <button data-role="review-save"
                        type="button"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        click: placeOrderOverrided,
                        "
                        class="action primary checkout green-button-full tokenize-btn">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>

                <button data-role="review-save"
                        type="button"
                        style="display: none;"
                        data-bind="click: placeOrder"
                        class="action primary checkout green-button-full place-order">
                </button>
            </div>
        </div>
    </div>
</div>