button.green-button-full, button.green-button-empty {
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 110px;
    border: 1px solid @green;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: none;
}

button.green-button-full {
    background-color: @green;
    color: white;
    &:extend(.black);
}

button.green-button-empty {
    background-color: transparent;
    color: @green;
    &:extend(.black);
}

.myButtonStyle {
    &:extend(.black);
    background: @green;
    box-shadow: none !important;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0 !important;

    &:hover,
    &:focus,
    &:active {
        box-shadow: none !important;
        background: @green;
        color: #fff;
    }
}

.pagebuilder-slide-wrapper .pagebuilder-slide-button,
.pagebuilder-slide-wrapper button.pagebuilder-slide-button {
    &:extend(.black);
    font-size: 14px;

    &:hover,
    &:focus,
    &:active {
        box-shadow: none !important;
        background: @green;
        color: #fff;
    }
}